<div class="row">
  <div class="col-12 mt-2 control-panel">
    <%= link_to trip_path(trip), method: :delete, data: {confirm: "削除しますか？"} do %>
      <div class="icon-box">
        <i class="far fa-trash-alt"></i>
        <p class="mb-0 h8">トリップ削除</p>
      </div>
    <%end%>
  </div>
</div>