<%# amcharts %>
<script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
<h2>My World Travel Record</h2>
<div id="mapdiv"></div>
<script type="text/javascript">
  let countries = [
    {
      "id": "TW",
      "showAsSelected": true
    },
    {
      "id": "US",
      "showAsSelected": true
    },
    {
      "id": "JP",
      "showAsSelected": true
    },
  ];
  var map = AmCharts.makeChart("mapdiv", {
    type: "map",
    theme: "dark",
    projection: "miller",
    panEventsEnabled: false,
    backgroundColor: "#003462",
    backgroundAlpha: 1,
    zoomControl: {
      zoomControlEnabled: true
    },
    dataProvider: {
      map: "worldHigh",
      getAreasFromMap: true,
      areas: countries
    },
    areasSettings: {
      autoZoom: false,
      color: "#D8AA79",
      colorSolid: "#76C8BD",
      selectedColor: "#76C8BD",
      outlineColor: "#003462",
      rollOverColor: "#C0E0D1",
      rollOverOutlineColor: "#003462"
    }
  });
</script>
