<div class="my-auto">
  <div class="mb-5">
    <%= image_tag "logos/brand_logo_white", class:"toppage-brand-image my-auto"%>
    <p class="brand-text">Make planning easy and fun</p>
  </div>
  <div class="text-center">
    <%= link_to "新規登録", new_user_registration_path, class:"btn btn-lg btn-primary cover-link" %>
    <%= link_to "ログイン", new_user_session_path, class:"btn btn-lg btn-primary cover-link" %>
  </div>
</div>