<div class="d-flex w-100 h-100 mx-auto flex-column">
  <div class="cover-container text-center">
    <div class="logo">
      <%= image_tag "", class:"brand-image"%>
    </div>
    <div class="text-center cover-button mt-3">
      <%= link_to "新規登録", new_user_registration_path, class:"button mr-4" %>
      <%= link_to "ログイン", new_user_session_path, class:"button" %>
    </div>
  </div>
</div>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"%>
