<div id="scheduleMap"></div>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%="#{ENV['GOOGLE_API_KEY']}"%>&libraries=places&callback=initMap"
></script>