<div class="calendar"></div>
<%if false %>
<div class="schedule-card" id="calendar-card">
  <div id="pac-container">
    <%#= link_to 'Back', :back %>
    <div class="calendar"></div>
  </div>
</div>
<div id="scheduleMap"></div>
<%end%>
