<div class="row">
  <div class="cal-container col-lg-4 col-md-5">
    <div class="calendar mt-4 px-4" ></div>
  </div>
  <div class="map-container col-lg-8 col-md-7">
    <%= render 'google_maps'%>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', initialize_calendar);
</script>