<%# <div class="row">
  <div class="cal-container col-lg-4 col-md-5"> %>
    <%= button_to '', new_trip_schedule_path, class:"far fa-plus-square"%>
    <div class="calendar mt-4"></div>
  <%# </div> %>
  <%# <div class="map-container col-lg-8 col-md-7">
    <div id="scheduleMap"></div>
  </div> %>
<%# </div> %>