/*
 *= require fullcalendar
 *= require daterangepicker
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// custom font size
.site-wrapper {
  width: 100vw;
}

.h7 {
  font-size: 0.9rem;
}

.h8 {
  font-size: 0.8rem;
}

// btn override
.btn-primary {
  background-color: #8ac5ff;
  border-color: #8ac5ff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #349aff;
  border-color: #349aff;
  color: #fff;
}

.btn-outline-primary {
  border-color: #8ac5ff;
  color: #8ac5ff;
}

.btn-outline-primary:hover {
  background-color: #349aff;
  border-color: #349aff;
  color: #fff;
}

// Navbar
.nav-bg {
  background-color: #8ac5ff;
}

.nav-brand-image {
  width: 130px;
}

.nav-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  padding: 2px;
}

.dropdown-active {
  background-color: #8ac5ff;
  color: #fff;
}

.dropdown-active:hover {
  background-color: #cfe3f8;
}
// User: dashboard map
#mapdiv {
  width: 100%;
  height: 60vh;
}

.dash-contnet {
  height: 40%;
}

.hei-100 {
  height: 100%;
}

.image-grid-box {
  position: relative;
  // width: 100%;
  height: 100%;
  max-height: 100%;
  background-size: cover;
  border-radius: 5%;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
}

.image-grid-box:hover {
  box-shadow: 2px 5px 10px #888;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 5%;
}

.image-grid-text {
  top: 25%;
  left: 0;
  position: relative;
  text-align: center;
  display: block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  z-index: 2;
}

a:hover {
  text-decoration: none;
  outline: 0;
}

// Trip
#chartdiv {
  width: 100%;
  height: 250px;
}

.trip-form-box {
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  margin: 5rem auto;
  border-radius: 5px;
}

.world-globe {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  box-shadow: 0px 5px 15px #888;
  background: url(./world_map.png);
  opacity: 0.8;
  border-radius: 100%;
  background-size: 300px;
  animation: spin 20s infinite linear;
}

@keyframes spin {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 300px;
  }
}

.local-plate {
  background-color: #89c4ff;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

// Spot
#searchMap {
  height: 100%;
  width: 100%;
}

.spot-search-card {
  border-radius: 3%;
  width: 400px;
  margin: 1rem 1rem 0 0;
  padding: 1rem;
  outline: none;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#pac-input:focus {
  outline: none;
}

div#pac-card.spot-search-card {
  z-index: 0;
  position: absolute;
  left: 105px;
  top: 30px;
}

#location-error {
  display: inline-block;
  padding: 6px;
  background: #e4a7a7;
  border: #d49c9c 1px solid;
  font-size: 1.3em;
  color: #333;
  display: none;
  margin: 12px;
}

#infowindow-content {
  position: relative;
  width: 250px;
  padding: 10px;
  background-color: #fff;
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.star-img {
  color: #f8ce75;
}

.image-box {
  background-color: #bbb;
  height: 250px;
}

.save-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.rating-box {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #89c4ff;
}

// Schedule
#scheduleMap {
  height: 100%;
  // width: 100%;
}

.map-container {
  height: 100vh;
}

.cal-container {
  height: 100vh;
}

// schedule select
.radio-box {
  position: relative;
  width: 100%;
  height: 250px;
}

.image-grid-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  filter: brightness(60%);
}

.cover-wrapper {
  font-size: 18px;
  text-align: center;
  display: block;
  width: 100%;
  color: #fff;
  z-index: 1;
  bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
}

.radio-btn {
  position: absolute;
  opacity: 0;
}

.radio-btn + .radio-img {
  cursor: pointer;
}

.radio-img:hover {
  filter: brightness(70%);
}
// after selectd
.radio-btn:checked + .radio-img {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  filter: brightness(100%);
}

//footer
.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
}
