/*
 *= require fullcalendar
 *= require daterangepicker
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// custom font size
.h7 {
  font-size: 0.9rem;
}

.h8 {
  font-size: 0.8rem;
}

// btn override
.btn-primary {
  background-color: #8ac5ff;
  border-color: #8ac5ff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #349aff;
  border-color: #349aff;
  color: #fff;
}

.btn-outline-primary {
  border-color: #349aff;
  color: #349aff;
}

.btn-outline-primary:hover {
  background-color: #349aff;
  border-color: #349aff;
  color: #fff;
}

// dashboard map
#mapdiv {
  width: 100%;
  height: 60vh;
}

// create spot map
#searchMap {
  height: 100vh;
  width: 100%;
}

.spot-search-card {
  margin: 1rem 1rem 0 0;
  padding: 1rem;
  border-radius: 0.1rem 0 0 0.1rem;
  outline: none;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin: 12px;
  padding: 5px 10px;
  text-overflow: ellipsis;
  width: 400px;
  border: #e0e0e0 1px solid;
}

#pac-input:focus {
  outline: none;
}

// #label {
//   color: #fff;
//   background-color: #4d90fe;
//   font-size: 25px;
//   font-weight: 500;
//   padding: 6px 12px;
// }

div#pac-card.spot-search-card {
  z-index: 0;
  position: absolute;
  left: 105px;
  top: 30px;
}

#location-error {
  display: inline-block;
  padding: 6px;
  background: #e4a7a7;
  border: #d49c9c 1px solid;
  font-size: 1.3em;
  color: #333;
  display: none;
  margin: 12px;
}

#infowindow-content {
  position: relative;
  width: 250px;
  padding: 10px;
  background-color: #fff;
}

// spot card
.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.star-img {
  color: #f8ce75;
}

.image-box {
  background-color: #bbb;
  height: 250px;
}

.save-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.rating-box {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
