@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// custom font size
.h7 {
  font-size: 0.9rem;
}

.h8 {
  font-size: 0.8rem;
}

// btn override
.btn-primary {
  background-color: #8ac5ff;
  border-color: #8ac5ff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #349aff;
  border-color: #349aff;
  color: #fff;
}

.btn-outline-primary {
  border-color: #8ac5ff;
  color: #8ac5ff;
}

.btn-outline-primary:hover {
  background-color: #349aff;
  border-color: #349aff;
  color: #fff;
}

//Coverpage background
body {
  margin: 0;
  padding: 0;
}

.bg-image {
  background: url(bg_images/7.jpg) no-repeat center;
  background-size: cover;
  min-width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: inset 0 0 100rem #00000080;
}

.overlay {
  background-color: rgba(8, 8, 8, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toppage-brand-image {
  width: 70%;
  max-width: 600px;
  min-width: 400px;
}

.cover-link {
  font-size: 1.3rem;
  margin: 5rem 3rem;
  padding: 0.5rem 2rem;
}

.brand-text {
  color: #fff;
  text-shadow: 1px 3px 2px #00000080;
  font-size: 2rem;
  margin-top: 1rem;
}

// sing-in and log-in
.devise-box {
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  margin-top: 10rem;
  border-radius: 5px;
}

.form-brand-image {
  max-width: 70%;
  margin-bottom: 2rem;
}
