@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// btn override
.btn-primary {
  background-color: #8ac5ff;
  border-color: #8ac5ff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #349aff;
  border-color: #349aff;
  color: #fff;
}

//Coverpage background
body {
  margin: 0;
  padding: 0;
}

.bg-image {
  background: url(bg_images/7.jpg) no-repeat center;
  background-size: cover;
  min-width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: inset 0 0 100rem #00000080;
}

.overlay {
  background-color: rgba(8, 8, 8, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brand-image {
  max-width: 40%;
}

.devise-box {
  width: 60%;
  margin: auto;
  margin-top: 10rem;
  border-radius: 5px;
}

.h7 {
  font-size: 0.9rem;
}

.h8 {
  font-size: 0.8rem;
}
