<div class="card">
  <div class="card-body">
    <h3 class="h3 mb-5"><%= @resource.name %>様、</h3>
    <p>下記のURLにアクセスし、新しいパスワードの設定をお願い致します。</p>
    <p>メールアドレス：<%= @resource.email %></p>
    <p><%= link_to 'パスワード変更画面', edit_password_url(@resource, reset_password_token: @token) %></p>
  </div>
  <div class="h3 text-center">TripHub</div>
</div>